/*GENERAL STYLES*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 570px;
  width: 100%;
}

.container1 {
  background-color: hsl(10, 79%, 65%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 15px 15px;
  border: 0;
  border-radius: 10px;
  padding: 20px 5% 20px 5%;
}

.container2 {
  background-color: hsl(0, 100%, 100%);
  margin: 0 15px 15px 15px;
  border: 0;
  border-radius: 10px;
  padding: 23px 5% 25px 5%;
}

.text {
  color: hsl(28, 10%, 53%);
  font-size: 14px;
  font-weight: 400;
}

/*MY BALANCE*/

.part1 {
  text-align: left;
  color: hsl(0, 100%, 100%);
  padding-bottom: 7px;
}

.part3 {
  font-weight: 700;
  color: hsl(25, 47%, 15%);
}

.balance1 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  color: hsl(0, 100%, 100%);
}

img {
  width: 80%;
}

/*CHART*/

.header1 {
  text-align: left;
  color: hsl(25, 47%, 15%);
  font-size: 16px;
}

.chartBox {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
}

.barBox {
  min-width: 11%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.bar {
  background-color: hsl(10, 79%, 65%);
  width: 100%;
  border: 0;
  border-radius: 5px;
}

.bar:hover::before {
  content: attr(data-amount);
}

.bar:hover {
  cursor: pointer;
  background-color: #ff9b86;
}

.barCurrentDay {
  background-color: hsl(186, 34%, 60%);
}

.barCurrentDay:hover {
  background-color: #b4e0e5;
}

.day {
  color: hsl(246, 10%, 61%);
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
}

hr {
  border: 1px solid hsl(240, 21%, 93%);
  margin: 25px 0 25px 0;
}

/*SUMMARY*/

.summary {
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  text-align: left;
}

.balance2 {
  color: hsl(25, 47%, 15%);
  font-size: 28px;
  font-weight: 700;
}

.part2 {
  padding-bottom: 5px;
}

.difference {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/*FOOTER*/

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0 15px 0 15px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*MEDIA QUERIES*/

@media (min-width: 450px) {
  .container1 {
    padding: 27px 7% 27px 7%;
    border-radius: 20px;
  }

  .container2 {
    padding: 30px 7% 30px 7%;
    border-radius: 20px;
    margin-top: 25px;
  }

  .text {
    font-size: 18px;
  }

  .balance1 {
    font-size: 30px;
  }

  img {
    width: 100%;
  }

  .header1 {
    font-size: 22px;
  }

  .chartBox {
    margin-top: 66px;
  }

  .day {
    font-size: 14px;
  }

  hr {
    margin: 32px 0 32px 0;
  }

  .part2 {
    padding-bottom: 0;
  }

  .balance2 {
    font-size: 48px;
    padding-bottom: 10px;
  }
}
